/*=======HOME PAGE=======*/
.home-menu-iterm{
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    display: block;
    border: 5px solid paleturquoise;
    color: pink;
    margin: auto;
    margin-bottom: 10px;
    width: 80%;
}
.body-home{
    background-image: url(images/background-01-port.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
body{
    margin: 0;
    font-family: serif;
    padding: 0;
    height: 100%;
    padding: 25px;
}
html{
    height: 100%;
}

#home-logo-img{
    width:50px;
    display: block;
    margin: auto;
    padding: 25px;
}

#home-logo-text{
    display: block;
    margin: auto;
    padding: 25px;
}

/*=======meals PAGE=======*/
#meals{
    padding-top: 60px;
}
/*=======meals PAGE menu=======*/

.meals-list a{
    text-decoration: none;
}
.meals-list-iterm{
    border: 5px solid;
    color: goldenrod;
}
.meals-list-iterm h1{
    font-weight: bold;
    font-size: 20px;
    color: goldenrod;
    padding-left: 10px;
}

.meals-list-iterm p{
    font-weight: bold;
    font-size: 15px;
    color:darkorange;
    padding-left: 10px;
    margin-top: -7px;
}
#meals-list-iterm i{
    padding-left: 1030px;
}

#body-meals{
    background-image: url(images/background-02-port.png);
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}

/*======= HEADER =======*/

#header{
    background-color: red;

    width: 100%;
    height: 50px;
    top: 0px;
    overflow: hidden;
    position: fixed;
text-align: center;}

#header i{float: left;
    padding: 17px 0px 0px 17px;
    text-align: center;
    color: white;
}

#header img{
    width: 150px;
    padding-top: 14px;
    padding-right: 25px;
}

/*======= recipe page =======*/
.recipe{
    padding-top: 50px;
}

/*======= recipe details =======*/

#recipe-detals img{
    width: 100%;
}

#recipe-details h1{
    font-size: 25px;
    padding: 5px;
    border: 5px solid brown;
    margin: 10px;
}

.recipe-details-ingridients{
    margin: 0;
    margin-left: 10px;
    text-align: left;
    font-size: 25px;
}

.recipe-details-ingidients label{
    line-height: 25px;
    margin: 10px;
}
.recipe-detail-info{
    margin-left: 25px;
    margin-right: 25px;
}

.recipe-detail-info p{
    font-size: 13px;
    display: inline-block;
}

.recipe-details steps{
    padding-top: 20px;

}
.recipe-details steps ol{
    padding-left: 28px;
}


/*======= RESPONSIVE LAYOUT =======*/
@media only screen and(min-width:600px) {
    #meals{
        width: 80%;
        margin: auto;
    }
    #recipe{
        width: 80%;
        margin: auto;
    }
}

@media only screen and (min-width:1000px) {
    #meals{
        width: 60%;
        margin: auto;
    }
    #recipe{
        width: 60%;
        margin: auto;
    }
}

@media only screen and (min-width:1500px) {
    #meals{
        width: 40%;
        margin: auto;
    }
    #recipe{
        width: 40%;
        margin: auto;
    }
}

@media only screen and(min-width:720px) {
    .body-home{
        background-image:url(images/background-02-land.png) ;
    }
    .body-meals{
        background-image:url(images/background-02-land.png);
    }
}